<launch>
  <node pkg="controller_pkg" type="lane_follower_il.py" name="lane_follower_il" output="screen">
    <param name="image_topic" value="/B1/rrbot/camera1/image_raw"/>
    <param name="model_dir" value="$(env HOME)/il_training/models/WORKING_MODEL"/>
    <param name="max_speed" value="1.2"/>
    <param name="max_steer" value="100"/>
    <param name="alpha_speed" value="0.5"/>
    <param name="alpha_steer" value="1"/>
    <param name="steer_gain" value="2"/>
    <param name="publish_hz" value="120.0"/>
  </node>
</launch>