<launch>
  <node pkg="controller_pkg" type="lane_follower_il_and_recorder.py" name="lane_follower_il_and_recorder" output="screen">
    <param name="image_topic" value="/B1/rrbot/camera1/image_raw"/>
    <param name="model_dir" value="$(env HOME)/il_training/models/il_model_20251116_141315"/>
    <param name="max_speed" value="0.3"/>
    <param name="max_steer" value="5"/>
    <param name="alpha_speed" value="0.5"/>
    <param name="alpha_steer" value="0.5"/>
    <param name="publish_hz" value="15.0"/>
  </node>
  <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="robot_steering_ui" output="screen"/>
</launch>